    
    h1{

    font-family: 'Source Serif Pro', serif;
    /*font-family: 'Lora', serif;
    font-family: 'Sintony', sans-serif;*/

    }


.col-md-12{

    margin-top:20px;

}

form-group{

    background-color:lightgreen;
}

/*FOR REFERENCE:*/

font-family: 'Source Serif Pro', serif;
font-family: 'Sintony', sans-serif;
font-family: 'Lora', serif;