        
h1{

font-family: 'Source Serif Pro', serif;
    /*font-family: 'Lora', serif;
    font-family: 'Sintony', sans-serif;*/

    }


.col-md-12{

    margin-top:20px;

}

p {

    /*font-family: 'Lora', serif;*/
    /*font-size:12px;
    line-height: 25px;*/
    margin-left:10px;

}

about-list{

    font-family: 'Lora', serif;

}

h2{

    margin-left:10px;    
}
h5{

    margin-left:10px;
    font-weight: bold;

}


h4{

    margin-left:10px;
    font-weight: bold;

}

    



}

form-group{

    background-color:lightgreen;
}

.col-xs-12 {
    margin-top:10px;
    margin-bottom:10px;
}

.col-sm-12{

    margin-top:10px;
    margin-bottom:10px;

}

.form-description{

    margin-left:15px;
    margin-right:15px;
    padding-right:50px;
}

#outputIncome{
    color:red;
}

.nyc {
  background-color:lightblue;
}

.blue {
  background: blue;
  color: pink;
}


/*FOR REFERENCE:

font-family: 'Source Serif Pro', serif;
font-family: 'Sintony', sans-serif;
font-family: 'Lora', serif;